body {
  margin: 0; /* Remove qualquer margem padrão */
  font: .8em sans-serif, Arial;
  color: black;
  background: #fefefe;
}

/* Centraliza e ajusta o banner */
#banner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 10px; /* Padding opcional */
}

#banner img {
  width: 50px; /* Ajusta a largura conforme necessário */
  height: auto; /* Mantém a proporção */
  margin-right: 0px; /* Espaço entre a imagem e o texto */
}

/* Formatação geral para tabelas */
table {
  margin: 20px auto; /* Centraliza a tabela e adiciona margem superior */
  border-collapse: collapse;
  width: 80%; /* Ajuste a largura da tabela conforme necessário */
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Estilo para o título da tabela */
.titulo-tabela {
  text-align: center;
  margin: 20px auto; /* Adiciona margem superior e inferior */
  font-size: 1.5em; /* Ajuste o tamanho da fonte conforme necessário */
}
